/*全局覆盖antd左对齐*/
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table-self tbody td {
    text-align: left;
}
/*覆盖面包屑颜色*/
#root .ant-layout .ant-breadcrumb{
    height:40px;
    line-height: 30px;
    padding:10px 0 0 24px;
    margin-bottom: 0;
    background-color: #fff;
}
/*表格checkBox的对其*/
#root .ant-table-tbody > tr > td.ant-table-selection-column {
    text-align: left;
}
/*全局表格表头颜色*/
#root .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.4);
}
.operation-box{
    text-align: right;
}
.operation-box a{
    padding-left: 6px;
}
/*antd的tab样式*/
#root .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    font-size: 14px;
    line-height: 12px;
    padding: 14px 20px;
    color:#999;
}

#root .ant-tabs-nav .ant-tabs-tab-active {
    color: #F56C1D;
    background: rgba(245, 108, 29, 0.06);
    border-radius: 4px 4px 0 0;
}
#root th,td{
    font-size: 14px;
}
#root .ant-table table{
    border-radius: 4px;
    border-collapse:separate
}

